
$primary-color: #121212
$secondary-color: #065fd4
    
$info-color: #3d8bfd
$danger-color: #ff3b5c
$warning-color: #ffc857
$ok-color: #1ed760

$sale-color: #ff0033

$black-color: #090909
$dark-gray-color: #1d1f24


//responsive break-points
//down size
$media-breakpoint-down-xs: 413.98
$media-breakpoint-down-sm: 573.98
$media-breakpoint-down-md: 768
$media-breakpoint-down-lg: 991.98
$media-breakpoint-down-xl: 1199.98

//Up size
$media-breakpoint-up-xs: 320px
$media-breakpoint-up-sm: 576px
$media-breakpoint-up-md: 768px
$media-breakpoint-up-lg: 992px
$media-breakpoint-up-xl: 1200px
