@use '../common/mixins'
@use '../common/settings'
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')

@include mixins.md
    .song 
        &-container 
            align-items: stretch
            font-family: 'Roboto Mono', 'Courier New', Courier, monospace
            display: flex
            flex-direction: column
            justify-content: stretch
            padding: 4rem 20rem
    
        &-info-layout
            align-items: flex-start
            display: flex
            justify-content: space-between
            gap: 2rem

        &-title-container 
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 4rem
        &-chord-container
            background-color: settings.$info-color
            border-radius: 0.2rem
        &-tools
            display: flex
            gap: 1rem
            align-items: center
            justify-content: center
            height: 50px
            overflow: visible
            position: fixed
            width: 100vw
            left: 0
            bottom: 2rem
        &-lyrics-container
            display: flex
            flex-direction: column


