@use 'sass:color';
@use '../common/mixins';
@use '../common/settings';



@include mixins.md 
    .navbar 
        display: flex
        flex-direction: column
        width: 100%
        position: sticky
        top: 0
        left: 0
        z-index: 299

        &-container 
            align-items: center
            background-color: color.adjust(settings.$primary-color, $blackness: 20%) 
            column-gap: 2rem
            display: flex
            @include mixins.BoxShadow(3)
            height: 4rem
            padding: 0 10rem
            width: 100%

        &-item
            cursor: pointer
            transition-property: background-color
            transition-duration: 0.25s
            &:hover
                background-color: color-mix(in srgb,rgba(0, 0, 0, 0.5), black 5%)
            &-dropdown
                background-color: var(--background) !important
                color: var(--foreground) !important
            &-child
                color: var(--foreground) !important
                text-decoration: none
                padding: 3rem 0
                & button:hover
                    background-color: color-mix(in srgb,var(--background), white 5%)
                & *
                    color: var(--foreground) !important

        &-logo 
            align-items: center
            cursor: pointer
            display: flex
            width: 2.5rem !important
            justify-content: center
            user-select: none
        

        &-login-button 
            color: var(--third-color)
            background-color: transparent
            border: var(--third-color) 1px solid

            &:hover 
                color: var(--third-color)
            
        

        &-link 
            align-items: center
            background-color: transparent
            column-gap: 0.5rem
            display: flex
            font-weight: 500
            justify-content: center
        

        &-links 
            align-items: center
            column-gap: 2rem
            display: flex
            justify-content: center
            margin-left: auto
        

        &-search-section 
            align-items: center
            background-color: color-mix(in srgb,var(--light-color), black 5%)
            color: color-mix(in srgb,var(--third-color), black 5%)
            column-gap: 0.5rem
            border-radius: 5px
            cursor: pointer
            display: flex
            height: 2rem
            justify-content: flex-start
            padding: 0 1rem
            min-width: 10rem

            &:hover 
                background-color: color-mix(in srgb,var(--light-color),  black 8%)
            
        

        &-cart 
            background-color: color-mix(in srgb,var(--light-color),  black 5%)
            border-radius: 50%
            cursor: pointer
            padding: 0.5rem
            user-select: none

            &:hover 
                background-color: color-mix(in srgb,var(--light-color),  black 8%)
            
        

    .logo-link
        margin-right: auto


    .login-modal
        &-container
            align-items: center
            background-color: rgba(0, 0, 0, 0.33)
            display: flex
            height: 100vh
            justify-content: center
            left: 0
            position: fixed
            top: 0
            width: 100vw
        &-dfa-form
            align-items: center
            background-color: color-mix(in srgb, var(--background) 90%, var(--foreground));
            border-radius: 15px
            color: var(--foreground)
            display: flex
            flex-direction: column
            justify-content: space-
            gap: 1rem
            padding: 4rem
            position: relative
            width: 40rem 
            @include mixins.BoxShadow(5)
        &-form
            align-items: center
            background-color: color-mix(in srgb, var(--background) 90%, var(--foreground));
            border-radius: 15px
            color: var(--foreground)
            display: flex
            flex-direction: column
            justify-content: space-
            gap: 1rem
            padding: 4rem
            position: relative
            width: 25rem 
            @include mixins.BoxShadow(5)
        &-logo
            width: 10rem !important

    .ssnn
        &-container
            align-items: center
            display: flex
            flex-direction: column
            justify-content: center
            gap: 2rem
            padding: 0
        &-button
            align-items: center
            display: flex
            background-color: var(--foreground)
            color: var(--background)
            border-radius: 50% 
            justify-content: center
            width: 2.5rem
            height: 2.5rem
            padding: 0 
            text-align: center
            border: none;
            font-weight: bold;
            font-family: sans-serif;
            cursor: pointer;
            transition-property: background-color
            transition-duration: 0.25s
            transition-delay: 0.025s
            @include mixins.BoxShadow(1)
            &:hover
                @include mixins.BoxShadow(2)
        &-btn
            align-items: center
            border-radius: 25px
            cursor: pointer
            display: flex
            padding: 0.5rem 0.7rem
            width: 100%
            gap: 0.2rem
            justify-content: center


.right-floating-button
    position: absolute
    top: 1rem
    right: 1rem
    left: auto


.fb-btn
    background-color: #1877f2;
    color: #FFF;
    &:hover
        background-color: #156ad8;

.x-btn
    background-color: #000;
    color: #FFF;
    &:hover
        background-color: #242424;

.google-btn
    background-color: #EA4335
    color: #FFF
    &:hover
        background-color: #ce3c2f

.account-menu
    &-item
        text-align: center !important
    &-signout
        display: flex
        align-items: center
        justify-content: center
        padding: 2rem 
        & button
            background-color: settings.$danger-color
            color: #FFF !important
            transition-duration: 0.25s
            transition-property: background-color
            &:hover
                background-color: color.adjust($color: settings.$danger-color, $lightness: -5%)
